body{
    overflow: scroll;
}
#wrapper{
    width: 1000px;
    background-color: lightcyan;
    border: medium white solid;

}
#menu{
    color: black;

}
.size{
    font-size: 40px;
}
.color{
    color: blue;
}
.border{
    border: medium black double;
}
.logo{

}
.marginLeft{
    margin-left: 50px;
}
.marginRight{
    margin-right: 50px;
}
.marginCenter{
    margin-right: auto;
    margin-left: auto;
}
.divwidth{
    Width: 23%;
}
.displayInline{
    display:inline;
}
.sqrPadding{
    padding: 50px;
}
.floatLeft{
    float:left;
}
.floatRight{
    float:right;
}
#top{
    height:135px;
    line-height:135px;
}
#main{
    margin-top:31px;
}
#imagebk{
    background-size: contain;
    background: url("../chocolatecake.jpeg") no-repeat;
    height: 800px;
    position:relative;
}
#topimage{
    background-size: contain;
    background: url("../cakebaking.jpeg") no-repeat;
    /*height: 637px;*/
    position: relative;
}
.halfWidth{
   width: 49%;
}
.bold{
    font-weight: bold;
}
.clearMargin{
    margin:0;
}
.clearPadding{
    padding:0;
}
.clearFix{
    clear: both;
}
.grSmall{
    width:329px;
    padding-left: 19px;
    padding-right: 19px;
}
.grBig{
    width: 545px;
    padding-left: 24px;
    padding-right:24px;
}

.lineHeight{
    line-height: 50px;
}
.grFont{
    line-height: 27px;
    font-size: 16px;
}
.Helvetica{
    font-family: "Helvetica Neue", Helvetic, Arial, sans-serif, serif;

}
.font{
    font-size: 20px;
    font-family: "Comic Sans MS" , arial, sans-serif;
    font-style: initial;

}
.topMargin{
    margin-top:31px;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.textRight{
    text-align: right;
}
#Step1, #Step2, #Step3, #Step4{
    width:23%;
    height: 800px;
}
#Step2, #Step3, #Step4{
    margin-left: 1.5%;
}
.alignRight{
    text-align: right;
}
.alignCenter{
    text-align: center;
}
.noBottomPadding{
    padding: 50px 50px 0 50px;
}
.noTopPadding{
    padding: 0 50px 50px 50px;
}
.paddingLR{
    padding: 0 50px;
}
#cakeBaking{
    width: 900px;
}

#triangle-topleft {
    width: 0;
    height: 0;
    border-top: 20px solid red;
    border-right: 20px solid transparent;
}

#triangle-topright {
    width: 0;
    height: 0;
    border-top: 20px solid red;
    border-left: 20px solid transparent;
}

#triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 20px solid red;
    border-right: 20px solid transparent;
}

#triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 20px solid red;
    border-left: 20px solid transparent;
}


